##
#

PCBs/kicad/turning-feather/turning-feather-*-plots*.zip
PCBs/kicad/turning-feather/plots
PCBs/kicad/turning-feather/old

*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak

# Wings 3D File Excludes
*.wings~

*.~		# Ignore the gedit temp files
.gitignore~
*.swp		# Ignore Vim swap files

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

*.pyc
Thumbs.db
Desktop.ini
.DS_Store

# VSC and platformio
.pio
.vscode
