html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}
h1 {
  font-size: 1.4rem;
  color: white;
}
p {
  font-size: 1rem;
}
.topnav {
  overflow: hidden;
  background-color: #0A1128;
}
body {
  margin: 0;
}
.content {
  padding: 5%;
}
.card-grid {
  max-width: 1000px;
  margin: 2 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit);
}
.card {
  background-color: white;
  box-shadow: 2px 2px 8px 1px rgba(140,140,140,.5);
  width: 100%;
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #034078
}
select {
  font-size: 1.4rem;
  width: 90%;
  padding: 8px 20px;
  margin: 2px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
label {
  font-size: 1.2rem;
}
.value{
  font-size: 1.2rem;
  color: #1282A2;
}
.state {
  font-size: 1.2rem;
  color: #1282A2;
}
input[type=submit] {
  border: none;
  color: #FEFCFB;
  background-color: #034078;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 100px;
  margin-right: 6px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
input[type=submit]:hover {
  background-color: #1282A2;
}
input[type=text], input[type=number] {
  width: 80%;
  max-width: 400px;
  padding: 8px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=button],button {
  border: 2px solid white;
  color: #FEFCFB;
  background-color: #0A1128;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 150px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
button {
  border: none;
  width: 200px;
}
table {
  margin: auto;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
}
th,td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  text-align: left;
}
tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
